<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GolfAIApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2FA2D242E3DEC0300BB1224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2FA2D312E3DEC0400BB1224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2FA2D3B2E3DEC0400BB1224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
